# Pin constraint file

set_io clk_i   G1 # input
set_io HB_O    J3
set_io D_EMP   C3
set_io D_DATA  B4
set_io D_LRCLK A4
# set_io D_MUTE  C2
set_io D_FMT   B3
set_io D_BCK   C4
set_io D_SYSCK A3

set_io USB_RES  L4
set_io USB_MODE K6

set_io DIS_RES K2
set_io DIS_DC  L2
set_io DIS_SCK K1
set_io DIS_SDI L1
set_io DIS_CS  L3

set_io ADC_SDI B1
set_io ADC_SDO B2
set_io ADC_SCK C2
set_io ADC_CS C1
set_io ADC_MCLK A2
set_io ADC_IRQ A1

set_io RA[0]   J8
set_io RA[1]   J11
set_io RA[2]   H11
set_io RA[3]   G8
set_io RA[4]   G10
set_io RA[5]   A11
set_io RA[6]   C7
set_io RA[7]   A7
set_io RA[8]   A6
set_io RA[9]   B6
set_io RA[10]  B7
set_io RA[11]  D7
set_io RA[12]  A10
set_io RA[13]  H10
set_io RA[14]  J10
set_io RA[15]  K11

set_io RIO[0]  F11
set_io RIO[1]  E9
set_io RIO[2]  E11
set_io RIO[3]  D10
set_io RIO[4]  C8
set_io RIO[5]  C11
set_io RIO[6]  B9
set_io RIO[7]  A8
set_io RIO[8]  B11
set_io RIO[9]  B8
set_io RIO[10] C9
set_io RIO[11] D11
set_io RIO[12] D9
set_io RIO[13] E10
set_io RIO[14] E8
set_io RIO[15] F10

set_io R_WE    A9
set_io R_CE    F9
set_io R_UB    G9
set_io R_LB    G11
set_io R_OE    H7

set_io FLASH_CS  K10
set_io FLASH_SDO J9
set_io FLASH_SCK L10
set_io FLASH_SDI K9

# set_io ENC_A    H2
# set_io ENC_B    G2
# set_io ENC_BUTT J2

set_io RX L7
set_io TX K7

set_io ENC_BUTT1 H3
